on boot
    mkdir /data/misc/corvus 0770 cameraserver audio
    write /data/misc/corvus/client_package_name 0
    chown cameraserver audio /data/misc/corvus/client_package_name
    chmod 0644 /data/misc/corvus/client_package_name
